In [2]:
import pandas as pd

# Import MTeams.csv
teams_df = pd.read_csv("MTeams.csv")

# Import MSeasons.csv
seasons_df = pd.read_csv("MSeasons.csv")

# Import MNCAATourneySeeds.csv
seeds_df = pd.read_csv("MNCAATourneySeeds.csv")

# Import MRegularSeasonCompactResults.csv
compact_results_df = pd.read_csv("MRegularSeasonCompactResults.csv")

# Import MRegularSeasonDetailedResults.csv
detailed_results_regular_df = pd.read_csv("MRegularSeasonDetailedResults.csv")

detailed_results_tourney_df = pd.read_csv("MNCAATourneyDetailedResults.csv")
# Import MMasseyOrdinals.csv
massey_ordinals_df = pd.read_csv("MMasseyOrdinals.csv")

# Import MTeamCoaches.csv
team_coaches_df = pd.read_csv("MTeamCoaches.csv")

In [15]:
team_id = teams_df.loc[teams_df["TeamName"].str.contains("Arizona"), "TeamID"].values[0]

print(team_id)

1112

In [16]:
teams_df[teams_df["TeamID"] == team_id]

    TeamID TeamName  FirstD1Season  LastD1Season
11    1112  Arizona           1985          2024

In [17]:
results_df = detailed_results_regular_df[
    (detailed_results_regular_df["WTeamID"] == team_id)
    | (detailed_results_regular_df["LTeamID"] == team_id)
]

In [18]:
coaches_df = team_coaches_df[team_coaches_df["TeamID"] == team_id]

In [19]:
results_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
110,2003,19,1112,107,1443,68,H,0,41,73,...,23,9,20,7,18,17,28,6,2,25
294,2003,23,1112,101,1319,66,H,0,38,75,...,18,2,7,10,24,18,26,2,2,21
520,2003,29,1112,91,1387,58,H,0,31,66,...,16,10,21,20,21,11,16,5,2,23
651,2003,33,1112,89,1361,81,A,0,30,67,...,25,9,13,18,23,18,18,9,4,25
942,2003,41,1112,73,1400,70,H,0,26,66,...,20,16,23,17,24,16,14,2,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112585,2024,117,1112,103,1332,83,H,0,39,64,...,20,7,9,10,17,14,12,8,3,17
112838,2024,122,1112,88,1417,65,A,0,28,54,...,18,13,18,4,19,7,9,6,5,21
113004,2024,124,1425,78,1112,65,H,0,28,57,...,21,11,16,11,22,18,17,3,2,18
113126,2024,129,1112,70,1425,49,N,0,26,57,...,22,3,6,8,20,9,17,6,7,19
113199,2024,130,1332,67,1112,59,N,0,25,59,...,19,18,28,6,20,14,14,6,7,15

In [20]:
combined_df = results_df.merge(
    coaches_df[["Season", "CoachName"]], on="Season", how="left"
)
combined_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,CoachName
0,2003,19,1112,107,1443,68,H,0,41,73,...,9,20,7,18,17,28,6,2,25,lute_olson
1,2003,23,1112,101,1319,66,H,0,38,75,...,2,7,10,24,18,26,2,2,21,lute_olson
2,2003,29,1112,91,1387,58,H,0,31,66,...,10,21,20,21,11,16,5,2,23,lute_olson
3,2003,33,1112,89,1361,81,A,0,30,67,...,9,13,18,23,18,18,9,4,25,lute_olson
4,2003,41,1112,73,1400,70,H,0,26,66,...,16,23,17,24,16,14,2,1,24,lute_olson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,2024,117,1112,103,1332,83,H,0,39,64,...,7,9,10,17,14,12,8,3,17,tommy_lloyd
702,2024,122,1112,88,1417,65,A,0,28,54,...,13,18,4,19,7,9,6,5,21,tommy_lloyd
703,2024,124,1425,78,1112,65,H,0,28,57,...,11,16,11,22,18,17,3,2,18,tommy_lloyd
704,2024,129,1112,70,1425,49,N,0,26,57,...,3,6,8,20,9,17,6,7,19,tommy_lloyd
705,2024,130,1332,67,1112,59,N,0,25,59,...,18,28,6,20,14,14,6,7,15,tommy_lloyd

In [21]:
combined_df["CoachName"].value_counts()

CoachName
sean_miller      390
lute_olson       151
tommy_lloyd      101
kevin_o'neill     32
russ_pennell      32
Name: count, dtype: int64

In [22]:
import pandas as pd

# Assuming combined_df is your existing DataFrame
# Create an empty list to store dictionaries
data = []

# Filter rows where WTeamID or LTeamID is team_id
team_id_df = combined_df[
    (combined_df["WTeamID"] == team_id) | (combined_df["LTeamID"] == team_id)
]

# Iterate over each row
for index, row in team_id_df.iterrows():
    if row["WTeamID"] == 1421:
        # Store values of columns starting with 'W' and rename them
        values = {
            col[1:]: row[col] for col in team_id_df.columns if col.startswith("W")
        }
        # Add coach name column
        values["CoachName"] = row["CoachName"]
    else:
        # Store values of columns starting with 'L' and rename them
        values = {
            col[1:]: row[col] for col in team_id_df.columns if col.startswith("L")
        }
        # Add coach name column
        values["CoachName"] = row["CoachName"]

    # Append the values to the list
    data.append(values)

# Create a new DataFrame from the list of dictionaries
new_df = pd.DataFrame(data)

In [23]:
new_df.head()

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,CoachName
0,1443,68,26,55,7,23,9,20,7,18,17,28,6,2,25,lute_olson
1,1319,66,29,64,6,18,2,7,10,24,18,26,2,2,21,lute_olson
2,1387,58,23,64,2,16,10,21,20,21,11,16,5,2,23,lute_olson
3,1361,81,32,73,8,25,9,13,18,23,18,18,9,4,25,lute_olson
4,1400,70,24,66,6,20,16,23,17,24,16,14,2,1,24,lute_olson

In [24]:
# Import the necessary libraries
from sklearn.preprocessing import OneHotEncoder

# Create an instance of the OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Reshape the CoachName column to a 2D array
coach_names = new_df["CoachName"].values.reshape(-1, 1)

# Encode the CoachName column using one-hot encoding
coach_names_encoded = encoder.fit_transform(coach_names)

# Create a DataFrame from the encoded CoachName column
coach_names_encoded_df = pd.DataFrame(
    coach_names_encoded, columns=encoder.categories_[0]
)

# Concatenate the encoded CoachName DataFrame with the original combined_df
combined_df_encoded = pd.concat([new_df, coach_names_encoded_df], axis=1)

# Remove the original CoachName column from the combined_df_encoded
combined_df_encoded.drop("CoachName", axis=1, inplace=True)

c:\Users\ayush\miniconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

## Understanding Prediction Accuracy

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
import time
from tqdm import tqdm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

X = new_df.select_dtypes(include="number")

# Assign the 'CoachName' column as the target variable
y = new_df["CoachName"]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y_train)

# Create a decision tree classifier
dt_model = DecisionTreeClassifier(random_state=42)

param_dist = {
    "max_depth": [3, 5, 7, 9],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4],
    "criterion": ["gini", "entropy"],
}


# Create a randomized search object
random_search_dt = RandomizedSearchCV(
    estimator=dt_model,
    param_distributions=param_dist,
    n_iter=100,
    cv=5,
    n_jobs=-1,
    random_state=42,
)

# Start timing
start_time = time.time()

# Perform randomized search to find the best parameters
with tqdm(total=random_search_dt.n_iter, desc="Parameter optimization") as pbar:
    random_search_dt.fit(X_train, y_encoded)
    pbar.update(1)

# End timing
end_time = time.time()
total_time = end_time - start_time

# Print the best parameters found
print("Best parameters:", random_search_dt.best_params_)

# Get the best model
best_model_dt = random_search_dt.best_estimator_

# Make predictions on the testing data using the best model
y_pred_dt = best_model_dt.predict(X_test)

# Decode the predicted labels back to their original form
y_pred_decoded_dt = label_encoder.inverse_transform(y_pred_dt)

# Calculate the accuracy of the best model
accuracy_dt = accuracy_score(y_test, y_pred_decoded_dt)
print("Accuracy:", accuracy_dt)
print("Total time for tuning and modeling:", total_time, "seconds")

importance_scores = best_model_dt.feature_importances_

Parameter optimization:   0%|          | 0/100 [00:00<?, ?it/s]

c:\Users\ayush\miniconda3\Lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 72 is smaller than n_iter=100. Running 72 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
Parameter optimization:   1%|          | 1/100 [00:00<00:44,  2.22it/s]

Best parameters: {'min_samples_split': 2, 'min_samples_leaf': 1, 'max_depth': 3, 'criterion': 'gini'}
Accuracy: 0.5352112676056338
Total time for tuning and modeling: 0.45610594749450684 seconds

## Understanding Important Features

In [26]:
from sklearn.tree import DecisionTreeClassifier

importance_scores
# Create a DecisionTreeClassifier object
clf = DecisionTreeClassifier()

# Fit the model on your data
clf.fit(X, y)

# Get the feature importances
importances = clf.feature_importances_

# Create a dictionary of feature names and their importances
feature_importances = dict(zip(X.columns, importance_scores))

# Sort the features by importance in descending order
sorted_features = sorted(feature_importances.items(), key=lambda x: x[1], reverse=True)

# Print the sorted features
for feature, importance in sorted_features:
    print(f"{feature}: {importance}")

FGA: 0.3170211492405361
Ast: 0.24933279214193704
TO: 0.2395260756645188
OR: 0.1270256911104015
TeamID: 0.06709429184260651
Score: 0.0
FGM: 0.0
FGM3: 0.0
FGA3: 0.0
FTM: 0.0
FTA: 0.0
DR: 0.0
Stl: 0.0
Blk: 0.0
PF: 0.0